  <html>
<head>
    <title>Hello from Aurelia</title>
</head>
<body aurelia-app>
    <script src="@routes.Assets.versioned("javascripts/jspm_packages/system.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/config.js")" type="text/javascript"></script>

    <script>

        //System.import("aurelia-bootstrapper");
        // bootstrap(function(aurelia) {
        //   aurelia.use
        //     .standardConfiguration()
        //     .developmentLogging();
        //   aurelia.start().then(() => aurelia.setRoot('app', document.body));
    </script>
</body>
</html>
